<h1>Logar</h1>

<form action="/Usuario/Login" method="POST">
    <label>
        Email
        <input type="Text" name="email">

    </label>

    <label>
        Senha
        <input type="password" name="senha">
    </label>

    <input type="submit" value="Entrar">

    <a href="/Usuario/Cadastrar">Cadastrar</a>
</form>